<main class="flex-auth">
	<h2>Sign up</h2>

	<form action="/auth/signup" method="POST">
		<label> Username: <br>
			<input class="data-input" type="text" name="username" required>
		</label>
		<label>Email: <br>
			<input class="data-input" type="email" name="email" required>
		</label>
		<label>Password: <br>
			<input class="data-input" type="password" name="password" required>
		</label>

		<button class="button" type="submit">Sign Up</button>
	</form>
</main>