<main class="flex-signup">
	<h2>Sign up</h2>

	<form action="/auth/signup" method="POST">
		<label> Username:
			<input type="text" name="username" required>
		</label>
		<label>Email:
			<input type="email" name="email" required>
		</label>
		<label>Password:
			<input type="password" name="password" required>
		</label>

		<button type="submit">Sign Up</button>
	</form>
</main>