
        <li id="create-potion"><a href="/potions/create">Create Potion</a></li>
        <li id="my-profile"><a href="/profile">My Profile</a>
            <div id="nav-dropdown">
                <a href="/potions/my-potions">My Potions</a>
                <a href="/potions/my-favorites">My Favourites</a>
                <a href="/logout">Logout</a>
            </div>
        </li>
