<li id="my-profile"><a href="/profile">My Profile</a>
	<ul id="nav-dropdown">
		<li><a href="/potions/my-potions">My Potions</a></li>
		<li><a href="/potions/my-favorites">My Favourites</a></li>
		<li><a href="/logout">Logout</a></li>
	</ul>
</li>
<li id="create-potion"><a href="/potions/create">Create Potion</a></li>