<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title><%= appTitle %></title>
	<link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
	<nav class="nav">
		<a href="/"><img class="nav-logo" src="/images/Lumoslab_logo.png" alt="Lumoslab Logo"></a>
		<ul>
			<li id="sign-up"><a href="/auth/signup">Sign Up</a></li>
			<li id="login"><a href="/auth/login">Login</a></li>
			<li><a href="/potions">All Potions</a></li>
			<li id="create-potion"><a href="/potions/create">Create Potion</a></li>
			<li id="my-profile"><a href="/profile">My Profile</a>
				<div id="nav-dropdown">
					<a href="/potions/my-potions">My Potions</a>
					<a href="/potions/my-favorites">My Favourites</a>
					<a href="/logout">Logout</a>
				</div>
			</li>
		</ul>
	</nav>

	<%- body %>

	<script src="/js/script.js"></script>
</body>

</html>