<h2>Update your infos</h2>

<form action="" method="POST" enctype="multipart/form-data">
  <label
    >Password :
    <input type="password" name="password" />
  </label>
  <label
    >New Password:
    <input type="password" name="newPassword" />
  </label>
  <label
    >Confirm New Password:
    <input type="password" name="confirmedNewPassword" />
  </label>

  <label
    >Image:
    <input type="file" name="img_url" accept="image/png, image/jpg" />
  </label>

  <button type="submit">Update</button>
</form>

<% if (typeof wrongPassword !== 'undefined') { %>
  <p style="color: red"><%= wrongPassword %></p>
  <% } %>

  <% if (typeof wrongNewPassword !== 'undefined') { %>
    <p style="color: red"><%= wrongNewPassword %></p>
    <% } %>