<!-- user will be the object linked to the route and databse :
    user: {
        username, 
        potions (array), 
        favorites(array)
} -->


<h2>Profile of <%- user.username %></h2>
<a href="/profile/update"><button>Update profile</button></a>