<h2>Update your infos</h2>

<form action="" method="POST" enctype="multipart/form-data">

  <label>Password :</label>

  <label
    >Image:
    <input type="file" name="img_url" accept="image/png, image/jpg" />
  </label>

</form>
