<main class="create-flex">
	<h2>Create potion</h2>
	<form method="POST" action="/potions/create" enctype="multipart/form-data">
		<section class="create-form-flex">
			<label>Name: <br>
				<input class="data-input" type="text" name="name" required />
			</label>

			<label class="ingredients">Ingredients: <br>
			<input class="data-input" type="text" name="ingredients" /><button type="button" class="remove_ingredient button"> X </button> <br>
			</label>
			<button type="button" class="add_ingredient button"> + Add ingredient</button>

			<label>Difficulty: <br>
				<input class="data-input" type="text" name="difficulty" />
			</label>

			<label>Characteristics: <br>
				<input class="data-input" type="text" name="characteristics" />
			</label>

			<label>Time: <br>
				<input class="data-input" type="number" name="time">
			</label>

			<label>Effects: <br>
				<input class="data-input" type="text" name="effects" />
			</label>

			<label>Side Effects: <br>
				<input class="data-input" type="text" name="sideEffects" />
			</label>

			<label>Image: <br>
				<input class="file-upload" for="file-upload" type="file" name="img_url" accept="image/png, image/jpg" />
			</label>

			<button class="button" type="submit">Create potion</button>
		</section>
	</form>

	<% if (typeof errorMessage !== 'undefined') { %>
	<p style="color: red"><%= errorMessage %></p>
	<% } %>
</main>