<h2>Create potions</h2>

<!--TODO form created with basics info just to make the img work + link it to the route, Sophia will complete it -->
<form method="POST" action="/potions/create" enctype="multipart/form-data">
  <label
    >Name:
    <input type="text" name="name" required />
  </label>

  <label
    >Image:
    <input type="file" name="img_url" accept="image/png, image/jpg" />
  </label>

  <button type="submit">Create potion</button>
</form>

<% if (typeof errorMessage !== 'undefined') { %>
	<p style="color: red"><%= errorMessage %></p>
	<% } %>
