<!-- "potion" will be the name of the objet with all potion informations from database :
    potion {
        name,
        ingredients,
        difficulty,
        characteristics,
        time,
        effects,
        sideEffects,
        inventor,
        img_url
    }
-->


<h2><% potion.name %></h2>
<!-- TODO putting inline style just to see what it looks like after creating, styling will be done by Sophia -->
<img src="<%- potion.img_url %>" alt="potion_test" style="height : 200px">
