<h2>Update <%- potion.name %></h2>

<form
  action="/potions/potion/<%- potion.name %>/update"
  method="POST"
  enctype="multipart/form-data"
  style="display: flex; flex-direction: column; align-items: flex-start"
>
  <label
    >Name:
    <input type="text" name="name" value="<%- potion.name %>" required />
  </label>
  <label
    >Ingredients:
    <!-- If there are ingredients -->
    <% if (potion.ingredients.length > 0) { %> <%
    potion.ingredients.forEach(ingredient => { %>
    <input type="text" name="ingredients" value="<%- ingredient %>" />
    <% }) %>
    <!-- If there's no ingredient, shows an empty input, 1 input = 1 ingredient -->
    <% }else{ %>
    <input type="text" name="ingredients" />
    <%} %>
  </label>

  <!-- TODO make the others label for difficulty, characteristics, time, effects, sideEffects -->

  <!-- IMAGE LABEL, DONT DELETE -->
  <label
    >Image:
    <input type="file" name="img_url" accept="image/png, image/jpg" />
  </label>

  <button type="submit">Update Potion</button>
</form>
